.basket-page {
  .container {
    text-align: left;
  }
  & .basket__title {
    margin-top: 30px;
    font-weight: 500;
    font-size: 55px;
  }

  .basket-products {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 6fr 0.4fr 3fr 1fr;
    text-align: center;
    padding-bottom: 26px;
    border-bottom: 1px solid #f1eadc;
    margin-bottom: 23px;
    h4 {
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
    }
  }
  .basket-list {
    .basket-list-item {
      border-bottom: 1px solid #6e9c9f5f;
      padding: 20px 0;
      &:nth-child(2n) {
        background-color: rgba(110, 156, 159, 0.12);
      }
    }

    & .basket-item-container {
      font-weight: 500;
      font-size: 17px;
      line-height: 23.8px;
      display: grid;
      text-align: center;
      align-content: center;
      align-items: center;
      grid-template-columns: 0.2fr 1fr 3fr 1fr 2fr 0.5fr;
      .basket-item-number {
        align-self: center;
      }
      .basket-item-description {
        width: 320px;
        padding: 10px;
        margin: 0 10px;
        text-align: center;
        p {
          font-weight: normal;
          padding: 5px;
          &:first-child {
            font-weight: 600;
            border-bottom: 1px solid #509498;
          }
          &:nth-child(2) {
            text-align: justify;
          }
          &:last-child {
            color: #509498;
            text-align: right;
          }
        }
      }

      .basket-item-photo {
        cursor: pointer;
        width: 150px;
        height: 100px;
        margin: 10px;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .basket-item-price {
        align-self: center;
      }
      .basket-item-count {
        display: flex;

        .item-count-info {
          display: flex;
          flex-direction: column;

          p {
            min-width: 10px;
            text-align: center;
            padding: 5px;
            color: #509498;
            &:last-child {
              padding-bottom: 5px;
              border: 1px solid#509498;
              color: black;
            }
          }
        }
        .basket-item-add,
        .basket-item-remove {
          cursor: pointer;
          position: relative;
          background-color: #6e9c9f;
          width: 30px;
          height: 30px;
          margin: 10px;
          top: 25px;
          border-radius: 50%;
          color: white;
          &:hover {
            background-color: #509498;
          }
        }
      }
      .basket-item-total {
        max-width: 10%;
      }
    }
  }
  .order {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 0;
    font-weight: 500;
    font-size: 17px;
    &.hidden {
      display: none;
    }
    .coupon__wrapper {
      display: flex;

      .coupon {
        padding: 23px 0;
        border-bottom: 1px solid #000000;
        color: #868686;
        margin-right: 30px;
      }
      .coupon-btn {
        padding: 23px 40px;
        color: #6e9c9f;
        cursor: pointer;
        border: 1px solid #6e9c9f;
        &:hover {
          color: #509498;
          border-color: #509498;
        }
      }
    }

    .buy__wrapper {
      display: flex;
      justify-content: right;
      align-items: center;
      width: 100%;
      .buy__total {
        text-align: center;
        background: #f1eadc;
        padding: 16px;
        min-width: fit-content;

        & > p {
          display: inline-block;
          font-weight: 500;
          font-size: 25px;
        }
      }

      .buy__order {
        margin-left: 30px;
        padding: 22px 50px;
        background: #6e9c9f;
        font-weight: 400;
        font-size: 17px;
        color: white;
        cursor: pointer;
        &:hover {
          background-color: #509498;
        }
      }
    }
  }
}
