* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  background-color: transparent;
  color: inherit;
}

a:active,
a:hover {
  outline: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
input {
  border: none;
  overflow: visible;
  background-color: inherit;
}

button,
select {
  text-transform: none;
}

input {
  line-height: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Raleway';
}

.container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 10px;
}

header .container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  .logo {
    color: #7065d9;
    font-size: 32px;
  }
  .total {
    font-size: 16px;
  }
  .basket {
    cursor: pointer;
  }
  .header.nav {
    display: flex;

    & li {
      margin-right: 10px;
    }
  }

  .search {
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
  }

  .call-wrapper {
    display: flex;
    align-items: center;

    .call-img {
      margin-right: 9px;
    }
    .call-number {
      margin-top: -5px;
    }
  }
}

#root {
  .products {
    display: flex;
  }
  .products__filter {
    width: fit-content;
    .category__box {
      text-align: left;
      padding: 10px;
      margin: 10px;
      border: 1px solid grey;
      border-radius: 8px;
      h3 {
        margin: 5px 0;
      }
      div {
        margin: 5px 0;
      }
      input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
        &:checked + label:after,
        .checked {
          content: '';
          display: block;
          position: absolute;
          top: 3px;
          left: 6px;
          width: 5px;
          height: 11px;
          border: solid #0079bf;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
      label {
        position: relative;
        cursor: pointer;
        &:before {
          content: '';
          -webkit-appearance: none;
          background-color: transparent;
          border: 1px solid #7065d9;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
            inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          padding: 8px;
          display: inline-block;
          position: relative;
          vertical-align: middle;
          cursor: pointer;
          margin-right: 5px;
        }
      }
    }
  }
  .products__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.75rem;
    justify-content: center;

    .card__item {
      border: 1px solid black;
      display: grid;
      grid-auto-flow: row;

      .card__body {
        position: relative;

        width: 200px;

        & .card__body-photo {
          height: 200px;

          background-size: cover;
          background-position: center;
          transition: transform 0.2s;
        }
      }

      .card__description {
        position: absolute;
        background-color: #e5e5e5b6;
        text-align: left;
      }

      .card__link-details,
      .card__buttons-add {
        background-color: #7065d9;
        padding: 5px;
        border-radius: 3px;
      }
    }
  }
}

.footer {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .github__wrapper {
    img {
      transition: filter 0.2s linear;
      filter: brightness(2) grayscale(1) opacity(0.5);
      transition: 0.3s;

      &:hover {
        filter: none;
        transform: scale(1.1);
      }
    }
  }

  .year {
    font-size: 28px;
  }

  .rsschool {
    width: 100px;

    img {
      transition: filter 0.2s linear;
      filter: brightness(2) grayscale(1) opacity(0.5);
      transition: 0.3s;

      &:hover {
        filter: none;
        transform: scale(1.1);
      }
    }
  }
}
