* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  background-color: transparent;
  color: inherit;
}

a:active,
a:hover {
  outline: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
input {
  border: none;
  overflow: visible;
  background-color: inherit;
}
button,
select {
  text-transform: none;
}
input {
  line-height: normal;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 10px;
}

header .container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  .logo {
    color: #7065d9;
    font-size: 32px;
  }
  .header.nav {
    display: flex;
    & li {
      margin-right: 10px;
    }
  }
}
#root {
  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.75rem;
    justify-content: center;
    .card__item {
      border: 1px solid black;
      display: grid;
      grid-auto-flow: row;

      .card__body {
        position: relative;

        width: 200px;
        & .card__body-photo {
          height: 200px;

          background-size: cover;
          background-position: center;
          transition: transform 0.2s;
        }
      }
      .card__description {
        position: absolute;
        background-color: #e5e5e5b6;
        text-align: left;
      }
      .card__link-details,
      .card__buttons-add {
        background-color: #7065d9;
        padding: 5px;
        border-radius: 3px;
      }
    }
  }
}
